@model Music.Models.Playlist

@{
    ViewBag.Title = "Playlist Details";
}

<h2>Playlist Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Albums)
        </dt>
        
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistID }) |*@
    @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-primary" })
</p>
