@model Music.Models.Artist

@{
    ViewBag.Title = "Artist Details";
}

<h2>Artist Details</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p class="btn-group btn-group-sm">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", @style = "border-radius:6px" })
</p>
