@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MUSIC APP</h1>
    <p class="lead">Search for a lot of music information on our database. Did found the info? So add what you know for us!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-record"> Albuns</span></h2>
        <p>
            Search in our album database.
        </p>
        <p><a class="btn btn-success" href="Albums">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-list"> Genres</span></h2>
        <p>Look for albuns by genre</p>
        <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301866">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-user"> Artists</span></h2>
        <p>Find your favorite artist albuns!</p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301867">Click here &raquo;</a></p>
    </div>
</div>